confusable-homoglyphs==3.1.1
Django==1.11
django-bootstrap3==10.0.1
django-filter==2.0.0
django-registration==2.4.1
django-tinymce==2.7.0
Pillow==8.1.1
pkg-resources==0.0.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
pytz==2018.5
