{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {% if title %}
        <title>INSTAGRAM {{title}}</title>
    {% else %}
        <title> INSTAGRAM </title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="{% static "css/gram.css" %}">
    {% endblock %}
</head>
<body>

    {% include "navbar.html" %}

    {% block content %} 
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>