{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="container-fluid header-top">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        {% for image_item in image %}
        <div class="modal fade" id="{{image_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalCenterTitle"><strong> {{image_item.image_name}}</strong></h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>{{ image_item.profile }}</h3>
                        <hr>
                        <img src="{{ image_item.image.url }}" data-toggle="modal" data-target="#{{image_item.id}}" alt="Image" width="100%">
                        <hr>
                        
                        
                        <!-- <p>{{ image_item.likes }}</p> -->
                        <p>{{ image_item.image_caption }}</p>
                        <!-- <p>{% autoescape on %} {{ image_item.comments }} {% endautoescape %}</p> -->
                        <p>{{ image_item.pub_date }}</p>
                    </div>
                    <div class="modal-footer">
    
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        
                    </div>
                    </div>
                </div>
            </div>

        <!-- displaying Posts -->
        <div class="container-fluid">
            <section>
            <div class= 'insta fade-scroll'>
            <div class='top-insta'>
                    <a href='{% url 'profile' user_id=user.id %}' target='_blank'><img src='media/icons/profile_single.png'></a>
                    <a href='{% url 'profile' user_id=user.id %}' target='_blank' class='user'>{{ user.username }}</a>
                    <span class= 'dot'></span>
            </div>

            <div class='post'>
                <div class="container">
                <span></span>
                </div>
                <img src="{{ image_item.image.url }}" data-toggle="modal" data-target="#{{image_item.id}}" alt="Image" width="100%">
            </div>
            
            <div class='footer'>
            <div class='react'>
                <a href='#' role='button'><span class='love'></span></a>
                <a href='#' role='button'><span class='comment'></span></a>
                <a href='#' role='button'><span class='save'></span></a>
            </div>
            <p>{{ image_item.likes }} likes</p>
            <div class='caption'>
                <a href='#'>{{ user.username }}</a><span>{{ image_item.image_caption }}</span>
            </div>

            <div class='comment-section'>
                <input type='text' id='cmnt' placeholder='Add a comment...'>
                <span class='dot02'></span>
                <hr>
                <a href='{% url 'profile' user_id=user.id %}'>{{ user.username }}:</a><span> {{ image_item.comments }}</span>
            </div>
            </div> <!-- end Footer -->
            </div> <!-- end Instagram -->
            </section> <!-- end section -->
            
            
        </div>

        

        <!-- Modal -->
        


        {% endfor %}
        </div>

        <div class="col-md-4">  
        </div>

    </div>
</div>

<footer>
    <div class="footer-cont">
    <ul>
        <li><a href='https://www.instagram.com/about/us/'>ABOUT US</a></li>
        <li><a href='https://help.instagram.com/'>SUPPORT</a></li>
        <li><a href='https://www.tumblr.com/login_required/instagram#_=_'>BLOG</a></li>
        <li><a href='https://instagram-press.com/'>PRESS</a></li>
        <li><a href='https://www.instagram.com/about/jobs/'>JOBS</a></li>
        <li><a href='https://help.instagram.com/285881641526716?helpref=page_content'>PRIVACY</a></li>
        <li><a href='https://help.instagram.com/581066165581870'>TERMS</a></li>
        <li><a href='#' onclick='return false;'>LANGUAGE</a></li>
    </ul>
    <span class='copyright'>© 2018 INSTAGRAM-CLONE</span>
    </div>
</footer>

{% endblock %}