{% extends 'base.html' %}

{% block content %}
{{block.super}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% for p in profiles %}
    <div class="container">
        
        <div class="row">
            <div class="col-md-4"><hr></div>
            <div class="col-md-4">
                <h2 class="text-center"> Found {{ p.bio }} </h2>
                <p> Found {{ user.username }} </p>
            </div>
            <div class="col-md-4"><hr></div>
        
        
        </div>
    </div>
    {% endfor %}
</body>
</html>
{% endblock %}