{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if profiles%}
      <h2>Found {{ profiles|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 people for the search term "{{message}}"</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if profiles %}
    {% for profile in profiles %}
      <div class="col-sm-6 col-md-3">
          <h1>{{profile.username}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}